<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Sonam Soni</h1><hr>
    <!-- p*4>lorem -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quasi a nesciunt numquam tempora recusandae rem. Pariatur sed obcaecati ullam sit quasi ipsam voluptatem non id porro, quidem animi nobis.</p>
    <p>Nam sunt ratione id quia quisquam dolor dolorum obcaecati, officiis voluptate! Ipsa et odio fugit vero, praesentium magni harum quasi est. Veritatis dolor dolorum doloribus odit molestiae reiciendis eos sapiente?</p>
    <p>Quaerat explicabo aut recusandae saepe omnis nesciunt. Error, reprehenderit? Tenetur iure velit repudiandae assumenda aut quae sit perspiciatis reiciendis. Ducimus tempore error praesentium consequatur quod tempora alias, sed sapiente facere!</p>
    <p>Ratione quisquam consequuntur accusantium rerum, expedita non unde iste. Ut, omnis velit laudantium quidem nemo eos praesentium ipsa distinctio excepturi minus esse placeat iusto iste facilis? Corrupti explicabo molestias error.</p>
</body>
</html>